@page "/ProductCategories"
@using HomeManagement.Client.Features.Catalog.ProductCategories.EditProductCategory.Components
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PageTitle>Categorie</PageTitle>

@if (OnEdit)
{
    <EditProductCategoryComponent />
}
else
{
    <div class="row">
        <div class="col">
            <MudIcon Icon="@Icons.Material.Filled.Add" Title="New" @onclick="NewCategory" />
        </div>
    </div>

    @if (Loading || !Initialized)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Descrizione</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Categories)
                        {
                            <tr>
                                <td><MudIcon Icon="@Icons.Material.Filled.Edit" Title="Edit" @onclick="()=>EditCategory(category)" /></td>
                                <td>@category.Description</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}