@page "/"

<header class="fixed bg-teal-400/[.95] py-2 px-5 top-0 w-full h-12 z-10 text-slate-900">Home</header>

<main class="py-14 px-3 flex flex-col space-y-2 z-0 items-center mx-auto">
    <section class="flex flex-col rounded-2xl p-6 shadow-lg shadow-gray-900/5 bg-white max-w-sm">
        <h3 class="flex item-center text-sm font-semibold text-gray-900">Titolo</h3>
        <p class="text-gray-700 mt-3 text-sm">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
            ipsum tempore distinctio saepe vero quasi consectetur doloremque velit quam! Ipsam maxime itaque
            doloremque placeat voluptas at, esse et architecto quasi.
        </p>
    </section>

    <section class="flex flex-col rounded-2xl p-6 shadow-lg shadow-gray-900/5 bg-white max-w-sm">
        <h3 class="flex item-center text-sm font-semibold text-gray-900">Titolo</h3>
        <p class="text-gray-700 mt-3 text-sm">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
            ipsum tempore distinctio saepe vero quasi consectetur doloremque velit quam! Ipsam maxime itaque
            doloremque placeat voluptas at, esse et architecto quasi.
        </p>
    </section>

    <section class="flex flex-col rounded-2xl p-6 shadow-lg shadow-gray-900/5 bg-white max-w-sm">
        <h3 class="flex item-center text-sm font-semibold text-gray-900">Titolo</h3>
        <p class="text-gray-700 mt-3 text-sm">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
            ipsum tempore distinctio saepe vero quasi consectetur doloremque velit quam! Ipsam maxime itaque
            doloremque placeat voluptas at, esse et architecto quasi.
        </p>
    </section>

    <section class="flex flex-col rounded-2xl p-6 shadow-lg shadow-gray-900/5 bg-white max-w-sm">
        <h3 class="flex item-center text-sm font-semibold text-gray-900">Titolo</h3>
        <p class="text-gray-700 mt-3 text-sm">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
            ipsum tempore distinctio saepe vero quasi consectetur doloremque velit quam! Ipsam maxime itaque
            doloremque placeat voluptas at, esse et architecto quasi.
        </p>
    </section>
</main>