@page "/settings"

<header class="fixed bg-teal-400/[.95] py-2 px-5 top-0 w-full max-w-sm h-12 z-10 text-slate-900">Settings</header>

<main class="py-14 px-3 flex flex-col space-y-2 z-0 items-center mx-auto">

    <button class="bg-violet-700 text-slate-200 rounded-lg shadow-md shadow-gray-700 p-2 font-semibold hover:bg-sky-500 hover:text-slate-900 focus:outline-none focus:ring-2 ring-slate-900 ring-offset-2 active:translate-y-0.5">Primary link</button>

    <button class="bg-white text-violet-600 rounded-lg shadow-md shadow-gray-700 p-2 font-semibold hover:bg-slate-200 hover:text-slate-900 focus:outline-none ring-2 ring-violet-600 active:translate-y-0.5">Secondary button</button>

    <input type="text"
           name=""
           id=""
           placeholder="testo..."
           class="block w-full rounded-md border border-slate-300 bg-white p-2 shadow-sm placeholder:italic placeholder:text-slate-400  focus:border-violet-700 focus:outline-none focus:ring-1 focus:ring-violet-700 sm:text-sm" />

           <section class="flex flex-col rounded-2xl p-6 shadow-lg shadow-gray-900/5 bg-white max-w-sm">
        <h3 class="flex item-center text-sm font-semibold text-gray-900">Titolo</h3>
        <p class="text-gray-700 mt-3 text-sm">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
            ipsum tempore distinctio saepe vero quasi consectetur doloremque velit quam! Ipsam maxime itaque
            doloremque placeat voluptas at, esse et architecto quasi.
        </p>
    </section>

</main>