@inherits LayoutComponentBase

<MudLayout>
    <MudAppBar Color="Color.Primary" Fixed="false">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
    </MudAppBar>
    <MudDrawer @bind-Open="@open">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">My App</MudText>
        </MudDrawerHeader>
        <MudNavMenu>
            <MudNavLink Match="NavLinkMatch.All" Href="">Home</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="ProductCategories">Categorie prodotti</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="Products">Prodotti</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent>
        <MudContainer>
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>
@*<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>*@

@code
{
    bool open = false;

    void ToggleDrawer()
    {
        open = !open;
    }
}
