@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button class="btn btn-primary" @onclick="EndEditCategory">EndEditCategory</button>
<button class="btn btn-primary" @onclick="SaveCategory">SaveCategory</button>
