@using HomeManagement.Client.Features.Catalog.ProductCategories.Models
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<EditForm Model="Model" OnSubmit="Save">
    <div class="form-group">
        <label for="description">Descrizione</label>
        <InputText class="form-control" id="description" @bind-Value="Model.Description" />
    </div>
    <div class="form-group">
        <MudAutocomplete T="ProductCategory" Label="Categoria" @bind-Value="SelectedCategory"  SearchFunc="@SearchCategory"
                         ResetValueOnEmptyText="true" CoerceText="true" CoerceValue="true" Clearable="true"  />
    </div>
    <div class="row mt-2">
        <div class="col">
            <button class="btn btn-primary" type="submit">Salva</button>
            <button class="btn btn-secondary" type="button" @onclick="Close">Annulla</button>
        </div>
    </div>
</EditForm>

@if (Saving)
{
    <span>Salvataggio...</span>
}
