<button class="@((IsPrimary ? PRIMARY_STYLE : SECONDARY_STYLE)+" "+Css)" @onclick="OnClick">
    @Text
</button>

@code {
    private const string PRIMARY_STYLE = "bg-violet-700 text-slate-200 rounded-lg shadow-md shadow-gray-700 p-2 font-semibold focus:outline-none active:translate-y-0.5";
    private const string SECONDARY_STYLE = "bg-white text-violet-600 rounded-lg shadow-md shadow-gray-700 p-2 font-semibold focus:outline-none ring-2 ring-violet-600 active:translate-y-0.5";

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public bool IsPrimary { get; set; } = true;

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter]
    public string Css { get; set; }
}
