@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="row">
    <div class="col">
        <MudIcon Icon="@Icons.Material.Filled.ArrowBack" Title="Annulla" @onclick="Close" Size="Size.Large" />
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        <EditForm Model="Model">
            <div class="form-group">
                <MudTextField Label="Descrizione" @bind-Value="Model.Description" Clearable="true" />
            </div>
            <div class="row mt-2">
                 <div class="col d-flex flex-row-reverse">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Save" Size="Size.Large" OnClick="Save">Salva</MudButton>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@if (Saving)
{
    <span>Salvataggio...</span>
}
